/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 35%;
        width: 100%;
        margin: 10px;
        border: solid 3px red;
        border-radius: 5px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 400px;
        margin: 0;
        padding: 0;
      }

      *{
        box-sizing: border-box;
      }
      
      body {
        position: absolute;
        top: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        padding-top: 80px;
        height: 1900px;
      }
      
      header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
      }
      
      @supports (position: sticky) {
        body {
          padding-top: 0;
        }
      
        header {
          position: sticky;
        }
      
      }
      
      .navbar {
        position: relative;
        height: 80px;
        width: 100%;
        transition: 0.5s ease;
        color: #D1001F;
        color: grey;
        opacity: 0.4;
      }
      
      .navbar .nav {
        margin: 0;
        padding: 0;
        display: inline-block;
        margin-right: 5%;
        font-family: 'Quicksand', sans-serif;
      }

      
      .navbar .nav .item {
        list-style: none;
        display: inline-block;
        font-size: 18px;
        padding: 5px;
        font-weight: 300;
        line-height: 80px;
        margin-right: 20px;
        transition: 0.5s ease;
      }
      
      .navbar .nav .item .contact {
        display: inline-block;
        height: 40px;
        line-height: 30px;
        padding: 5px;
        border-radius: 2px;
        transition: 0.5s ease;
      }
      
      .navbar .nav .item a {
        text-decoration: none;
        color: inherit;
      }
    
      
      .scrolled {
       transition: 0.5s ease;
      }
      
      .scrolled.navbar {
        height: 50px; 
        background-color: rgba(0, 0, 0, 0.1);
        transition: 0.5s ease;
      }
      
      
      .scrolled.navbar .nav .item {
        line-height: 40px;
        transition: 0.5s ease;
      }
      
      .scrolled.navbar .nav .item .contact {
        display: inline-block;
        height: 40px;
        line-height: 30px;
        padding: 5px;
        border-radius: 2px;
        transition: 0.5s ease;
      }

      .navbar-text {
        font-family: 'Pacifico', cursive;
      }

      .jumbotron {
        background-image: url("https://static1.wikia.nocookie.net/foodtruck/images/5/50/Wiki-background");
        background-repeat: repeat;
        background-size: cover;
    
    }

    .display-4 { 
        font-family: 'Pacifico', cursive;
        color: #D1001F;
        text-shadow: 10px;
        font-size: 80px;
        text-align: center;
       
    }
    
    .header {
        background-color: grey;
        padding: 20px 40px;
        background-size: cover;
        border-radius: 25px;
        background: rgba(255,255,255,0.7);
        
    }

    h4.lead {
        font-family: 'Bungee Shade', cursive;
        color: white;
        outline-color: white;
        font-weight: bold;
        font-size: 36px;
        text-shadow: 6px;
        text-align: center;
       
    
    }

  .col-12 {
      padding: 40px;
      width: 60px;
  }
  
  h5.crime-header {
    font-family: 'Pacifico', cursive;
    color: #D1001F;
  }

  .knockout {
    font-family: 'Pacifico', cursive;
    color: #D1001F;
  }

  .btn-primary {
    background-color: grey;
    border-color:grey;
    
  }

  .btn-primary:hover {
    background-color:#D1001F;
    border-color: #D1001F;

  }

  h1.knockout2 {
    font-family: 'Pacifico', cursive;
    color: #D1001F;
  }


.card-header {
  font-family: 'Pacifico', cursive;
  color: #D1001F;
}

.form-group {
  font-family: 'Quicksand', sans-serif;
}
 

.btn-danger {
  background-color: grey;
  border-color:grey;

}

.btn-danger:hover {
  background-color:#D1001F;
  border-color: #D1001F;

}